{%extends "base.html"%}
{% block head_title %} {{instance.title}}{% endblock head_title%}


{%block content%}

<!-- {% load static %}
<img src="{% static "1.jpg" %}" alt="My image"/> -->


{{instance}}
<!-- differenceintime -->
<form method='POST' action=''>{% csrf_token %}
{{ form.as_p }}
<input type='submit' class="waves-effect waves-light btn" value='Submit Answer'/>
<a href='/'  class="waves-effect waves-light btn" role="button">back</a>
<a href='/website/rank'  class="waves-effect waves-light btn" role="button">rank</a>
</form>
{%endblock content%}
