{% extends "base.html" %}
{% block content %}


<nav class='blue'>
  <div class="nav-wrapper">
    <a href="" class="brand-logo left">  Stegolica</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

    </ul>

  </div>
</nav>


<br/><br/><br/>


<div class ="col-sm-5 col-sm-offset-3">
<form method="post" action="">
{% csrf_token %}
<div class="card-panel hoverable grey lighten-4">

{{ form }}

</div>
<input type="submit"  class="waves-effect waves-light btn" value="login" />
<input type="hidden" name="next" value="/website/" />
<a href='/accounts/register'  class="waves-effect waves-light btn" role="button">register</a>
</form>

</div>



{% endblock %}
