{% extends "base.html" %}
{% block content %}

<nav class='blue'>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">  Stegolica</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

    </ul>

  </div>
</nav>

</br></br>
<div class ="col-sm-4 col-sm-offset-4">
<form method="post" action="">
{% csrf_token %}
<div class="card-panel hoverable grey lighten-4">

{{ form.as_p }}

</div>
<input type="submit"  class="waves-effect waves-light btn" value="Register" />
<input type="hidden" name="next" value="/website/index" />



</form>
</div>
 <!-- parallax -->


    <div class="parallax-container">
      <div class="parallax">


      </div>
    </div>





{% endblock %}
