{%extends "base.html"%}
{% block head_title %} {{instance.title}}{% endblock head_title%}


{%block content%}

<nav class='blue'>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo left">  Stegolica</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

    </ul>

  </div>
</nav>



<!-- {% load static %}
<img src="{% static "1.jpg" %}" alt="My image"/> -->
<div class ="col-sm-9 col-sm-offset-2">
<div class="card-panel hoverable grey lighten-4 ">
{{instance}}
<img src={{imagelink}}>
<!-- differenceintime -->
<form method='POST' action=''>{% csrf_token %}
{{ form.as_p }}
<input type='submit' class="waves-effect waves-light btn" value='Submit Answer'/>
<a href='/'  class="waves-effect waves-light btn" role="button">back</a>
<a href='/website/rank'  class="waves-effect waves-light btn" role="button">rank</a>
</form>
</div>
</div>
{%endblock content%}
