{% extends "base.html" %}
{% block content %}
    <nav class='blue'>
        <div class="nav-wrapper">


            <a href="/" class="brand-logo center"> EVENT</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if who %}
                    <a href='/accounts/login' class="waves-effect blue waves-light btn " role="button">Login</a>
                    <a href='/accounts/register' class="blue waves-effect waves-light btn" role="button">Register</a>
                {% else %}
                    <a href='/accounts/logout' class="blue waves-effect waves-light btn" role="button">Logout</a></li>
                {% endif %}
                </br>
            </ul>

        </div>
    </nav>

    <div id="particles">
        <div id="content">
            <div class="card-panel hoverable grey lighten-4">
                <h5>Rules</h5>
                <p>1.RULE 1</p>
                <p>2. RULE 2 </p>
                </br>

            </div>
            <div class="col-sm-8 col-sm-offset-3">


                <a href='/website/rank' class="black waves-effect waves-light btn" role="button">Current Ranks</a>
                <a href='/website/1' class="black waves-effect waves-light btn" role="button">Answer</a>
                <a href='Link to event page' class="black waves-effect waves-light btn" role="button">Event Page</a>
            </div>


            </br></br>
        </div>
    </div>



    <footer class="page-footer blue">
        <div class="container">
            <div class="row">
                <div class="col l4 offset-l10 s12">
                    <h5 class="white-text">Created by</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3"> Name</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 Gautham Santhosh
            </div>
        </div>
    </footer>




{% endblock content %}
